# Cross Validated SLR

Imports

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, cross_val_score

%matplotlib inline

Data

In [29]:
train['Garage Cars'].fillna(0, inplace = True)

In [28]:
train = pd.read_csv('./datasets/train.csv')
test = pd.read_csv('./datasets/test.csv')

Train Test Split

When you only have training data:
 Data --> Train Test Split --> X_train , y_train , X_test , y_test
 
When given Train + Test:
 train --> train test split --> X_train , y_ train , X_holdout + y_holdout   # Hold out set = validation set
 test --> X_test , y_test

In [30]:
# Set X and Y

X = train[['Garage Cars']]
y = train['SalePrice']

In [31]:
X_train, X_holdout, y_train, y_holdout = train_test_split(X, 
                                                          y,
                                                          random_state = 23)
# Just don't have to have two X_test, y_test so using holdout as another naming convnention!

In [32]:
X_test = test[['Garage Cars']] # From the test.csv

Instantiate and Fit

In [33]:
lr = LinearRegression()

In [34]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

Score

In [35]:
lr.score(X_train, y_train)

0.42236196357049205

In [36]:
lr.score(X_holdout, y_holdout)

0.41104963942304684

In [42]:
cross_val_score(lr, X_train, y_train, cv = 10).mean()

0.40986949223632835

Predict

In [46]:
lr.coef_

array([65515.56600485])

In [47]:
lr.intercept_

64716.17232303321

In [44]:
test['Preds'] = lr.predict(X_test)
test.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Preds
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2006,WD,130231.738328
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,8,2006,WD,195747.304333
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,9,2006,New,195747.304333
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,7,2007,WD,195747.304333
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,185,0,NaN,NaN,NaN,0,7,2009,WD,195747.304333

In [45]:
test['Preds'].value_counts()

195747.304333    467
130231.738328    254
261262.870338    111
64716.172323      44
326778.436342      3
Name: Preds, dtype: int64